In [1]:
import pandas as pd

In [2]:
dir_archivo = "/home/tonatiuh/Documents/Desarrollo/ZophiaLearning/datasets/"

### Tabla products

In [3]:
nombre_archivo = "amazon/products.csv"
df = pd.read_csv(dir_archivo+nombre_archivo, delimiter='|')
nombre_destino = "stage/products.parquet"
df.to_parquet(nombre_destino)
df.head(3)

,isbestseller,product_title,product_main_image_url,app_sale_price,app_sale_price_currency,isprime,product_detail_url,product_id,evaluate_rate,original_price,country
0,False,"SUPERIOR Egyptian Cotton, 650 Thread Count Sol...",https://m.media-amazon.com/images/I/913IwAxzLm...,87.99,$,True,https://www.amazon.com/dp/B019HKBWGO,B019HKBWGO,4.2 out of 5 stars,NaN,US
1,False,Amazon Basics Socks and Underwear Dresser Orga...,https://m.media-amazon.com/images/I/917Ryzrgu9...,10.45,$,True,https://www.amazon.com/dp/B07TVDBFQM,B07TVDBFQM,4.5 out of 5 stars,$11.09,US
2,True,Amazon Basics Lightweight Super Soft Easy Care...,https://m.media-amazon.com/images/I/51vdF7fqxs...,19.99,$,True,https://www.amazon.com/dp/B0154ASID6,B0154ASID6,4.6 out of 5 stars,NaN,US

### Tabla tasas_cambio_pais_anual

In [4]:
nombre_archivo = "amazon/tasas_cambio_pais_anual.csv"
df = pd.read_csv(dir_archivo+nombre_archivo, delimiter=',')
nombre_destino = "stage/tasas_cambio_pais_anual.parquet"
df.to_parquet(nombre_destino)
df.head(3)

  Country-name Alpha-2-code Alpha-3-code Currency  Year  Value
0    Argentina           AR          ARG      ARS  1962    0.0
1    Argentina           AR          ARG      ARS  1963    0.0
2    Argentina           AR          ARG      ARS  1964    0.0